@font-face {
    src: url("./fonts/Luciole-Regular.ttf");
    font-family: "Luciole-Regular";
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Luciole-Regular, Tahoma, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background: #2599C2;
    color: white;
    padding: 15px;
}
footer {
    margin-top: auto;
    background: #2599C2;
    color: white;
    padding: 15px;
}
main {
    padding : 0 15%;
}
nav {
    text-align: center;
}
    a {
        color: white;
        text-decoration: none;
    }
        a:hover {
            background-color: white;
            color: #2599C2;
            padding: 0.5%;
        }
.presentation {
    text-align: center;
}

.logo {
    width: 20%;
}

.alert-not-connected {
    background-color: white;
    color: #ff6100;
    padding: 2%;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
}

.play-ticket {
    background-color: white;
    color: #ff6100;
    text-align: center;
    font-weight: bold;
}
#ticket_form > div {
    display: inline-grid;
    padding: 0.5%;
}