@font-face {
    src: url("/fonts/Luciole-Regular.ttf");
    font-family: "Luciole-Regular";
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Luciole-Regular, Tahoma, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background: #2599C2;
    color: white;
    padding: 15px;
}
footer {
    margin-top: auto;
    background: #2599C2;
    color: white;
    padding: 15px;
}
main {
    padding : 0 15%;
}

.presentation, nav {
    text-align: center;
}

.logo {
    width: 20%;
}